<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter Name："
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Please Enter name！</div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" [(ngModel)]="user.age"
               class="form-control"
               id="age"
               name="age"
               placeholder="Age："
               required #age="ngModel">
        <div [hidden]="!age.pristine" class="alert alert-danger">Please enter age！</div>
      </div>
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">submit</button>
    </form>
  </div>
</div>
