<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">age</th>
        <th scope="col">edit</th>
        <th scope="col">delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users ">
        <td>{{ user.id}}</td>
        <td>{{ user.name }}</td>
        <td style="text-align: center;"><a href="mailto:{{ user.age }}">{{ user.age }}</a></td>
        <td style="text-align: center;"><button (click)="updateUser(user.id)" class = "btn btn-primary">edit</button>
        <td style="text-align: center;"><button (click)="deleteUser(user.id)" class = "btn btn-danger">delete</button>
      </tr>
      </tbody>
    </table>
  </div>
</div>
